<div class="content-view">
  <h2>Chi tiết sinh viên</h2>

  <button (click)="goBack()" class="btn-back">
    <i class="bx bx-left-arrow-alt"></i> Quay lại
  </button>

  <p><strong>Tên đăng nhập:</strong> {{ sinhVien?.tenDangNhap }}</p>
  <p><strong>Họ tên:</strong> {{ sinhVien?.hoTen }}</p>
  <p>
    <strong>Ngày sinh:</strong> {{ sinhVien?.ngaySinh | date : "dd/MM/yyyy" }}
  </p>
  <p><strong>Giới tính:</strong> {{ sinhVien?.gioiTinh ? "Nam" : "Nữ" }}</p>
  <p><strong>Lớp:</strong> {{ sinhVien?.lop }}</p>
  <p><strong>Khoa:</strong> {{ sinhVien?.khoa?.tenKhoa }}</p>

  <h3>Bảng điểm</h3>
  <table class="bang-diem" *ngIf="sinhVien?.ketQuaHocTaps?.length">
    <thead>
      <tr>
        <th>Mã lớp HP</th>
        <th>Mã học kỳ</th>
        <th>Điểm QT</th>
        <th>Điểm Thi</th>
        <th>Điểm TK</th>
        <th>GPA (hệ 4)</th>
        <th>Xếp loại</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kq of sinhVien?.ketQuaHocTaps">
        <td>{{ kq.maLopHocPhan }}</td>
        <td>{{ kq.maHocKy }}</td>
        <td>{{ kq.diemQT }}</td>
        <td>{{ kq.diemThi }}</td>
        <td>{{ kq.diemTongKet }}</td>
        <td>{{ kq.diemHe4 | number : "1.2-2" }}</td>
        <td
          [ngClass]="{
            rot: kq.xepLoai.toLowerCase() === 'rớt',
            dat: kq.xepLoai.toLowerCase() === 'đạt'
          }"
        >
          {{ kq.xepLoai }}
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!sinhVien?.ketQuaHocTaps?.length">Không có bảng điểm.</p>
</div>
