<div class="content-table">
  <h2 class="text-xl mb-4">Quản lý tài khoản</h2>

  <div class="mb-4 flex gap-2">
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="filterAccounts()"
      placeholder="Tìm kiếm tài khoản..."
      class="border p-2 rounded w-1/3"
    />
    <button
      (click)="openForm()"
      class="bg-blue-500 text-white px-4 py-2 rounded"
    >
      + Tìm
    </button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Tên đăng nhập</th>
          <th>Họ tên</th>
          <th>Vai trò</th>
          <th>Thông tin chi tiết</th>
          <th>Trạng thái</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acc of filteredAccounts">
          <td>{{ acc.tenDangNhap }}</td>

          <!-- Họ tên -->
          <td>
            {{
              acc.giangVien?.hoTen || acc.sinhVien?.hoTen || "Admin hệ thống"
            }}
          </td>

          <!-- Vai trò -->
          <td>{{ acc.phanQuyen?.tenQuyen }}</td>

          <!-- Thông tin chi tiết -->
          <td>
            <ng-container *ngIf="acc.giangVien">
              Bộ môn: {{ acc.giangVien.bomon }} <br />
              Khoa: {{ acc.giangVien.maKhoa }}
            </ng-container>
            <ng-container *ngIf="acc.sinhVien">
              Lớp: {{ acc.sinhVien.lop }} <br />
            </ng-container>
            <ng-container *ngIf="!acc.giangVien && !acc.sinhVien">
              (Admin hệ thống)
            </ng-container>
          </td>

          <!-- Trạng thái -->
          <td>{{ acc.trangThai ? "Hoạt động" : "Bị khóa" }}</td>

          <td class="flex gap-2">
            <!-- Xem -->
            <button
              mat-icon-button
              color="primary"
              matTooltip="Xem chi tiết"
              (click)="viewAccount(acc)"
            >
              <mat-icon>Xem</mat-icon>
            </button>

            <!-- Sửa -->
            <button
              mat-icon-button
              color="accent"
              matTooltip="Chỉnh sửa"
              (click)="openForm(acc)"
            >
              <mat-icon>Sửa</mat-icon>
            </button>

            <!-- Xóa -->
            <button
              mat-icon-button
              color="warn"
              matTooltip="Xóa"
              (click)="confirmDelete(acc)"
            >
              <mat-icon>Xóa</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
