<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2 class="title">Đăng nhập</h2>

    <div class="form-group">
      <label for="studentId">Mã user</label>
      <input
        id="studentId"
        type="text"
        formControlName="studentId"
        placeholder="Nhập mã sinh viên"
      />
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Nhập mật khẩu"
      />
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Đăng nhập</button>

    <div class="divider">hoặc</div>

    <button type="button" class="google-btn" (click)="loginWithGoogle()">
      <img
        src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000"
        alt="Google"
      />
      Đăng nhập bằng Google
    </button>
  </form>
</div>
