<div class="form-dialog">
  <h2>Thêm sinh viên mới</h2>
  <form
    [formGroup]="createFormData"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <div class="form-group">
      <label for="tenDangNhap">Tên đăng nhập:</label>
      <input type="text" id="tenDangNhap" formControlName="tenDangNhap" />
      <div
        *ngIf="
          createFormData.get('tenDangNhap')?.invalid &&
          createFormData.get('tenDangNhap')?.touched
        "
        class="error"
      >
        <div *ngIf="createFormData.get('tenDangNhap')?.errors?.['required']">
          Vui lòng nhập tên đăng nhập.
        </div>
        <div *ngIf="createFormData.get('tenDangNhap')?.errors?.['minlength']">
          Tên đăng nhập phải có ít nhất 3 ký tự.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="hoTen">Họ tên:</label>
      <input
        type="text"
        id="hoTen"
        formControlName="hoTen"
        class="form-control"
      />
      <div
        *ngIf="
          createFormData.get('hoTen')?.invalid &&
          createFormData.get('hoTen')?.touched
        "
        class="error"
      >
        <div *ngIf="createFormData.get('hoTen')?.errors?.['required']">
          Vui lòng nhập họ tên.
        </div>
        <div *ngIf="createFormData.get('hoTen')?.errors?.['minlength']">
          Họ tên phải có ít nhất 2 ký tự.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ngaySinh">Ngày sinh:</label>
      <input type="date" id="ngaySinh" formControlName="ngaySinh" />
      <div
        *ngIf="
          createFormData.get('ngaySinh')?.invalid &&
          createFormData.get('ngaySinh')?.touched
        "
        class="error"
      >
        Vui lòng chọn ngày sinh.
      </div>
    </div>

    <div class="form-group">
      <label>Giới tính:</label>
      <div>
        <input
          type="radio"
          id="batBuocTrue"
          formControlName="gioiTinh"
          [value]="true"
        />
        <label for="gioiTinhTrue" class="radio-label">Nam</label>
      </div>
      <div>
        <input
          type="radio"
          id="batBuocFalse"
          formControlName="gioiTinh"
          [value]="false"
        />
        <label for="gioiTinhFalse" class="radio-label">Nữ </label>
      </div>

      <!-- <select formControlName="gioiTinh">
        <option [value]="true">Nam</option>
        <option [value]="false">Nữ</option>
      </select> -->

      <div
        *ngIf="
          createFormData.get('gioiTinh')?.invalid &&
          createFormData.get('gioiTinh')?.touched
        "
        class="error"
      >
        Vui lòng chọn giới tính.
      </div>
    </div>

    <div class="form-group">
      <label for="maKhoa">Khoa:</label>
      <select id="maKhoa" formControlName="maKhoa">
        <option value="" disabled>Chọn khoa</option>
        <option *ngFor="let khoa of khoas" [value]="khoa.makhoa">
          {{ khoa.tenKhoa }}
        </option>
      </select>
      <div
        *ngIf="
          createFormData.get('maKhoa')?.invalid &&
          createFormData.get('maKhoa')?.touched
        "
        class="error"
      >
        Vui lòng chọn khoa.
      </div>
    </div>

    <div class="form-group">
      <label for="lop">Lớp:</label>
      <input type="text" formControlName="lop" />

      <div
        *ngIf="
          createFormData.get('lop')?.invalid &&
          createFormData.get('lop')?.touched
        "
        class="error"
        style="color: red"
      >
        Vui lòng nhập lớp.
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" [disabled]="createFormData.invalid || loading">
        Thêm mới
      </button>
      <button type="button" (click)="onCancel()">Hủy</button>
    </div>
  </form>
</div>
